<!-- This is the content of the about page of the site -->
<!-- Created 4-9-19 by Anna Yu -->
<!-- Edited 4-12-19 by Anna Yu: added provide-->
<% provide(:title, "About |") %>
<h1>About</h1>
<p>
  This online application is the embodiment of work-life balance designed for OSU students. The main goal is for users
  to be able to find the information useful for education and entertainment. Users can decide to create their own account
  with a unique username and password to store information such as favorite books, reviews and more. To comment or
  participate in the discussion section on any books, the user must be logged into their account.
  To search for a particular book, we must specify the type of searches like author, title. Then for
  each book page, we will display the book cover, title, genre, author, and description information. In addition, for
  each book, we have a rating, associated tags, reviews, and a discussion section. With the education books, we should
  also include related courses and specific editions as a category in the book pages.
</p>
<p>
  A Dining Philosopher Production
</p>