<!-- This is the content of the help page of the site -->
<!-- Created 4-9-19 by Anna Yu -->
<!-- Edited 4-9-19 by Anna Yu: added additional info about account -->

<% provide(:title, "Help |") %>
<h1>Help</h1>
<p>
  To <strong>create</strong> an account we require:
  <ol>
    <li><strong>username</strong>: length between 1 and 36. No spaces, only numbers or letters and must be unique</li>
    <li><strong>email</strong>: make sure it is valid because a confirmation email will be sent to validate the email,
    without clicking the link sent to the email, <strong>the account will not work</strong></li>
    <li><strong>password</strong>: length between 6 and 128 characters.</li>
  </ol>
</p>

<p>
  To <strong>edit</strong> account, please log in and click Edit My Account, apply changes and make sure to provide current password.
</p>

<p>
  If you <strong>forgot your password</strong>, click the forgot my password and prepare your email associated with the account
  to be sent the change password link.
</p>

<p>
  To <strong>delete</strong> account, please log in and click Edit My Account, then click Cancel My Account on the bottom.
</p>

<p>
  Any other issues please visit our about page to contact our developers.
</p>