<!-- Created by Renzhi Hu 4/13-->
<!-- Edited by Kordell Stewart on 4/17/19-->

<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-sm pt-4">

        <!-- Content -->
        <h5 class="text-uppercase">StudyBreak</h5>
        <p>StudyBreak is an academic project meant showcase Rails web development. Have fun and read on!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-sm pt-4">

        <!-- Links -->
        <h5 class="text-uppercase">Helpful Links</h5>

        <ul class="list-unstyled">
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li>
            <%= link_to "Help", help_path %>
          </li>
          <li>
            <%= link_to "Contact", contact_path %>
          </li>
          <li>
            <a href="#">Back to top</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/">The Dining Philosophers</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->