<!-- Created by Kordell Stewart on 2/22/19 -->
<!-- This partial file will serve as the footer for every page on the site -->

<!-- Define the footer html -->
<footer>
  <p>2019, <a href="http://www.cse.ohio-state.edu/">Dept. of Computer Science and Engineering</a> | 491 Dreese Laboratories, 2015 Neil Avenue |
    <a href="http://www.osu.edu/">OSU.edu</a>
  </p>
  <p>Contact: Columbus, OH 43210 | Office: 614-292-1553 (Lab: 614-292-5137) | Fax: 614-292-2911 | Email: <a href="javascript:window.location='mailto:jwdavis' + '@' + 'cse.ohio-state.edu'">jwdaviscse.ohio-state.edu</a></p>
</footer>