<!-- Created by Kordell Stewart on 2/22/19 -->
<!-- This partial file will serve as the header for every page on the site -->
<header>
  <h1><a href="https://www.osu.edu/">OSU.edu</a> | Jim W. Davis</h1>
</header>
