---
title: Homepage
layout: layout
---

<!-- Created 2/21/19 by Kordell Stewart -->
<!-- This is the basic content of the homepage of the site -->

<div class="content">
  <div class = "clearfix">
  <img src="/images/jwdavis.jpg" alt="Davis" style="width:250px">
    <div class="intro">
          <h1>
          Jim Davis <span class="notbold">Ph.D. MIT, 2000</span>
          </h1>
        <p>Jim Davis is a Full Professor in the Dept. of Computer Science and Engineering. He received his Ph.D. from the Massachusetts Institute of Technology.</p>
    <b>RESEARCH</b>
      <p>His main research areas include Computer Vision, Artificial Intelligence, and Machine Learning with a focus on image/video analysis and automated surveillance.
          He has received over $3M in research funding (to date) from the National Science Foundation (including a prestigious CAREER award), U.S. Air Force, Los Alamos National Lab, U.S. Army Night Vision Laboratory, Intel, and Ohio Board of Regents.
        </p>
    <b>TEACHING</b> <p>Prof. Davis offers classes in Computer Vision (CSE 5524) and Artificial Intelligence (CSE 5052) at Ohio State University.
           The Artificial Intelligence course was specifically designed to fill a need and outreach to the large body of non-CSE students interested in the topic.
         </p>
    <b>SERVICE</b> <p>In addition to his Full Professor duties and service in the professional societies, he also serves in the CSE Dept. as the Coordinator for Undergraduate Research, the Chair of the Computer Committee, and a Member of the Executive Committee. </p>
    </div>
  </div>
</div>


