---
title: Noteworthy
layout: layout
---
<!--Created 2/26/2019 by Renzhi Hu-->
<!--Edited 2/26/2019 by Renzhi Hu-->

<div class="content">
  <h1>Noteworthy</h1>
  <div class="noteworthy-lists">
    <ul>

      <li>
        2015
        <ul>
          <li>
            Recipient of OSU College of Engineering <strong>Innovators Award</strong>.
          </li>
          <li>
            Launched Polarity Maximizer <strong>commercial software</strong> and Audiomere <%= link_to '(www.Audiomere.com)', 'http://www.Audiomere.com'%>.
          </li>
        </ul>
      </li>

      <li>
        2014
        <ul>
          <li>
            <strong>Workshop co-Chair</strong>, IEEE Conference on Computer Vision and Pattern Recognition.
          </li>
        </ul>
      </li>

      <li>
        2013
        <ul>
          <li>
            Promoted to <strong>Full Professor</strong>.
          </li>
        </ul>
      </li>

      <li>
        2012
        <ul>
          <li>
            Recipient of OSU College of Engineering <strong>Lumley Research Award</strong>.
          </li>
          <li>
            <strong>Chair, Computer Committee</strong>.
          </li>
        </ul>
      </li>

      <li>
        2010
        <ul>
          <li>
            <strong>Best Paper Award</strong>: "Attention-based Target Localization using Multiple Instance Learning", International Symposium on Visual Computing.
          </li>
          <li>
            <strong>IEEE Computer Vision and Pattern Recognition Reviewer Award</strong>.
          </li>
          <li>
            <strong>CSE Teaching Award</strong>.
          </li>
          <li>
            <strong>Co-Program Chair</strong>, IEEE International Conference on Advanced Video and Signal based Surveillance.
          </li>
        </ul>
      </li>

      <li>
        2009
        <ul>
          <li>
            <strong>Co-General Chair</strong>, IEEE Workshop on Motion and Video Computing.
          </li>
          <li>
            <strong>CSE Teaching Award</strong>.
          </li>
        </ul>
      </li>

      <li>
        2006
        <ul>
          <li>
            <strong>Co-Chair</strong>, for IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum (OTCBVS).
          </li>
        </ul>
      </li>

      <li>
        2005
        <ul>
          <li>
            Promoted to <strong>Associate Professor</strong> with Tenure.
          </li>
          <li>
            <strong>Guest Editor</strong> (w/ Riad Hammoud) for CVIU Special Issue on Advances in Vision Algorithms and Systems Beyond the Visible Spectrum.
          </li>
          <li>
            Appointed as <strong>Associate Editor</strong> for Machine Vision and Applications journal.
          </li>
          <li>
            Recipient of OSU College of Engineering <strong>Lumley Research Award</strong>trong>.
          </li>
          <li>
            Benchmark and Website <strong>Chair</strong> for IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum (OTCBVS).
          </li>
        </ul>
      </li>

      <li>
        2003
        <ul>
          <li>
            <strong>NSF Career Award</strong> Recipient.
          </li>
        </ul>
      </li>

      <li>
        2002
        <ul>
          <li>
            <strong>Lockheed-Martin Best Paper Award</strong>: "A Three-Mode Expressive Feature Model of Action Effort", IEEE Workshop on Motion and Video Computing, pp. 139-144.
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>
