---
title: Teaching
layout: layout
---
<!-- Created by Celia Tang 2/26/19 , html file for teaching page-->

<div class="content">
    <h1 class="teachingTitle">Teaching</h1>
  <div class="teachingContent">
    <!-- This is table of contents for the page with links to year -->
    <div><b>Content</b></div>
    <ul>
      <li><a href="#2018-2019">2018-2019 (TENTATIVE)</a></li>
      <li><a href="#2017-2018">2017-2018</a></li>
      <li><a href="#2016-2017">2016-2017</a></li>
      <li><a href="#2015-2016">2015-2016</a></li>
      <li><a href="#2014-2015">2014-2015</a></li>
      <li><a href="#2013-2014">2013-2014</a></li>
      <li><a href="#2012-2013">2012-2013</a></li>
      <li><a href="#2011-2012">2011-2012</a></li>
      <li><a href="#2010-2011">2010-2011</a></li>
      <li><a href="#2009-2010">2009-2010</a></li>
      <li><a href="#2008-2009">2008-2009</a></li>
      <li><a href="#2007-2008">2007-2008</a></li>
      <li><a href="#2006-2007">2006-2007</a></li>
      <li><a href="#2005-2006">2005-2006</a></li>
      <li><a href="#2004-2005">2004-2005</a></li>
      <li><a href="#2003-2004">2003-2004</a></li>
      <li><a href="#2002-2003">2002-2003</a></li>
      <li><a href="#2001-2002">2001-2002</a></li>
      <li><a href="#2000-2001">2000-2001</a></li>
    </ul>
  </div>
  <div>
    <!-- This is a table with all of the year and corresponding classes that Jim Davis taught, links to current course websites-->
    <table class="teachingTable">
      <tr>
        <td><b>Year</b></td><td><b>Classes</b></td>
      </tr>
      <tr id="2018-2019">
        <td>2018-2019 (TENTATIVE)</td><td><ul><li>CSE 5524 <a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5524/syllabus2018.htm">Computer Vision</a> (Autumn)</li><li>CSE 5052 <a href="http://web.cse.ohio-state.edu/~davis.1719/Teaching/5052/syllabus2019.htm">Artificial Intelligence for Non-Majors</a> (Spring)</li></ul></td>
      </tr>
      <tr id="2017-2018">
        <td>2017-2018</td><td><ul><li>CSE 5524 Computer Vision (Autumn)</li><li>CSE 5052 Artificial Intelligence for Non-Majors (Spring)</li></ul></td>
      </tr>
      <tr id="2016-2017">
        <td>2016-2017</td><td><ul><li>CSE 5524 Computer Vision (Autumn)</li><li>CSE 5052 Artificial Intelligence for Non-Majors (Spring)</li></ul></td>
      </tr>
      <tr id="2015-2016">
        <td>2015-2016</td><td><ul><li>On Sabbatical</li></ul></td>
      </tr>
      <tr id="2014-2015">
        <td>2014-2015</td><td><ul><li>CSE 5524 Computer Vision For HCI (Autumn)</li><li>CSE 5052 Intro to Artificial Intelligence for Non-Majors (Spring)</li></ul></td>
      </tr>
      <tr id="2013-2014">
        <td>2013-2014</td><td><ul><li>CSE 5524 Computer Vision For HCI (Autumn)</li><li>CSE 5052 Intro to Artificial Intelligence for Non-Majors (Spring)</li></ul></td>
      </tr>
      <tr id="2012-2013">
        <td>2012-2013</td><td><ul><li>CSE 5524 Computer Vision for Human-Computer Interaction (Autumn)</li><li>CSE 4521 Intro to Artificial Intelligence for Non-Majors (Spring)</li></ul></td>
      </tr>
      <tr id="2011-2012">
        <td>2011-2012</td><td><ul><li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li><li>CSE 788 Computer Vision Seminar (Winter)</li></ul></td>
      </tr>
      <tr id="2010-2011">
        <td>2010-2011</td><td><ul><li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li><li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li></ul></td>
      </tr>
      <tr id="2009-2010">
        <td>2009-2010</td><td><ul><li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li><li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li></ul></td>
      </tr>
      <tr id="2008-2009">
        <td>2008-2009</td><td><ul><li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li><li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li></ul></td>
      </tr>
      <tr id="2007-2008">
        <td>2007-2008</td><td><ul><li>On Sabbatical</li></ul></td>
      </tr>
      <tr id="2006-2007">
        <td>2006-2007</td><td><ul><li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li><li>CSE 630 Artificial Intelligence (Winter)</li></ul></td>
      </tr>
      <tr id="2005-2006">
        <td>2005-2006</td><td><ul><li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li><li>CSE 630 Artificial Intelligence (Winter)</li><li>CSE 788 Seminar on Advanced Video Surveillance (Winter)</li></ul></td>
      </tr>
      <tr id="2004-2005">
        <td>2004-2005</td><td><ul><li>CSE 694I Introduction to Computer Vision (Autumn)</li><li>CSE 694I Introduction to Computer Vision (Autumn)</li></ul></td>
      </tr>
      <tr id="2003-2004">
        <td>2003-2004</td><td><ul><li>CIS 694I Introduction to Computer Vision (Autumn)</li><li>CIS 694I Introduction to Computer Vision (Autumn)</li><li>CIS 788 Seminar on Advanced Video Surveillance (Winter)</li></ul></td>
      </tr>
      <tr id="2002-2003">
        <td>2002-2003</td><td><ul><li>CIS 630 Artificial Intelligence (Autumn)</li><li>CIS 694I Computer Vision and Pattern Recognition (Winter)</li><li>CIS 630 Artificial Intelligence (Spring)</li></ul></td>
      </tr>
      <tr id="2001-2002">
        <td>2001-2002</td><td><ul><li>CIS 788.04Z Computer Vision for Human-Computer Interaction (Autumn)</li><li>CIS 630 Artificial Intelligence (Spring)</li></ul></td>
      </tr>
      <tr id="2000-2001">
        <td>2000-2001</td><td><ul><li>CIS 788.04Y Motion Understanding (Autumn)</li><li>CIS 630 Artificial Intelligence (Spring)</li><li>CIS 731 Knowledge Systems (Spring)</li></ul></td>
      </tr>
    </table>
  </div>
</div>