<%#Created 4/3/19 by Kordell Stewart %>
<%#This file contains the html that calls the partial for a entering a new book %>
<h1>New Book</h1>

<%= render 'form', book: @book %>

<%= link_to 'Back', books_path %>
