<%#Created 4/14/2019 by Leslie Zhou %
<%# Edited by Kordell Stewart 4/17/19 - Final Styling %>
<%#This is the file that shows the comment body %>
<div class="card">
  <div class="card-body">
    <%= comment.body %>  </div>
</div>